
.icon-play-circled:before { content: '\e801'; } /* '' */
.icon-shopping_cart:before { content: '\e802'; } /* '' */
.icon-shopping_bag:before { content: '\e803'; } /* '' */
.icon-info-circled-alt:before { content: '\e804'; } /* '' */
.icon-ok-circled-1:before { content: '\e805'; } /* '' */