body{
    color: #fff;
}
.parallax {
    background: url('../img/background_1page.jpg') no-repeat 100%;
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    max-width: 1000px;
}
.first-page{
    padding-top: 4vh;
}
.first-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15vh;
}
.first-page-header-logo{
    width: 160px;
    margin-right: 70px;
}
.first-page-header-navbar{
    flex-grow: 1;
    flex-basis: 180px;
    height: 20px;
}
.first-page-header-navbar-menu-dropdown{
    height: 22px;
}
.icon-button{
    float: left;
    width: 18px;
    margin-right: 20px;
}
.icon-line{
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top: 0px;
    margin-bottom: 5px;
}
.button-text{
    font-size: 24px;
    font-family: "Roboto";
    line-height: 15px;
}
.dropdown-menu{
    width: 220px;
    text-align: center;
    border-radius: 20px;
    padding: 0;
    margin-top: 10px;
    margin-left: -19px;
    background-color: #faa633;

}
.dropdown-menu li{
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #ffb95a ;
}
.dropdown-menu li a{
    height: inherit;
    border-radius: inherit;
    padding-top: 7px;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
}
.dropdown-menu li:first-child{
    border-radius: 20px 20px 0 0;
}
.dropdown-menu li:last-child{
    border-radius:0 0 20px 20px;
    border-bottom: none;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus{
    background-color: #73b23b;
    color: #fff;
}
.dropdown-menu:after{
    content: '';
    position: absolute;
    left: 17px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #73b23b;
}
.first-page-header-contact{
    text-align: center;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
}
.first-page-header-contact-phone{
    font-size: 22px;
    font-family: "Ubuntu";
    font-weight: bold;
}
.first-page-main {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15vh;
}
.first-page-main-text{
    font-size: 68px;
    font-family: "Roboto";
    font-weight: lighter;
    text-shadow: 0px 2px 1px #000;
    margin-bottom: 4vh;
}
.first-page-main-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    width: 250px;
    height: 55px;
    background-color: #7fb137;
    border-radius: 30px;
    box-shadow: 0px 20px 35px 0px rgba(32, 43, 7, 0.25);
    font-size: 18px;
    font-family: "Core Sans A 55 Medium";
    color: #fff;
    text-transform: uppercase;
}
.first-page-main-btn:hover, .first-page-main-btn:focus{
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: 0px 0px 35px -15px #000 inset,
                0px 20px 35px 0px rgba(32, 43, 7, 0.25);
}
.first-page-main-btn:active{
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: 0px 0px 35px -15px #000 inset,
    0px 20px 35px 0px rgba(32, 43, 7, 0.25);
    padding-top: 15px;
}
.first-page-clients{
    text-align: center;
    padding-bottom: 8vh;
}
.first-page-clients img{
    width: 165px;
    margin-right: 10%;
}
.first-page-clients img:last-child{
    margin-right: 0px;
}
.first-page-clients-arrow-right {
    float: right;
    position: relative;
    right: -7%;
    top: -10px;
}
.first-page-clients-arrow-right:hover, .first-page-clients-arrow-right:active, .first-page-clients-arrow-left:hover, .first-page-clients-arrow-left:active{
    background-color: #7fb137;
}
.first-page-clients-arrow-right:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(-18deg);
    -moz-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    -o-transform: skewX(-18deg);
    transform: skewX(-18deg);
}
.first-page-clients-arrow-right:after{
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(18deg);
    -moz-transform: skewX(18deg);
    -ms-transform: skewX(18deg);
    -o-transform: skewX(18deg);
    transform: skewX(18deg);
}
.first-page-clients-arrow-left {
    float: left;
    position: relative;
    left: -7%;
    top: -10px;
}
.first-page-clients-arrow-left:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(-18deg);
    -moz-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    -o-transform: skewX(-18deg);
    transform: skewX(-18deg);
}
.first-page-clients-arrow-left:after{
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(18deg);
    -moz-transform: skewX(18deg);
    -ms-transform: skewX(18deg);
    -o-transform: skewX(18deg);
    transform: skewX(18deg);
}
.first-to-second-page{
    background-color: rgba(0, 0, 0, .2);
    padding-top: 4vh;
}
.first-to-second-page-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1%;
}
.first-to-second-page-icons div{
    flex-grow: 1;
}
.glyphicon-ok{
    width: 22px;
    height: 22px;
    background-color: #7fb137;
    border-radius: 50%;
    padding-top: 3px;
    -webkit-animation: blink 5s linear infinite;
    animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba(219,0,0,.3),
                    0px 0px 0px 7px rgba(127, 177, 55,.3)
    }
}
@keyframes blink {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba(219,0,0,.3),
                    0px 0px 0px 7px rgba(127, 177, 55,.3)
    }
}
.icon-ok-circled-text{
    font-size: 18px;
    font-family: "Open Sans";
}
.first-to-second-page-statistics{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
.first-to-second-page-statistics-numbers{
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    text-transform: uppercase;
}
.first-to-second-page-statistics-text{
    font-size: 14px;
    font-family: "Roboto Regular";
    font-weight: lighter;
}
.over{
    color: #db0000;
    font-size: 24px;
    font-weight: bold;
    padding-right: 5px;
}


.second-page{
    background-image: url("../img/background_2page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 9vh;
    padding-bottom: 9vh;
}
.second-page-flexbox{
    width: 83%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.second-page-menu{
    flex-grow: 2;
    flex-basis: 540px;
    max-width: 780px;

}
.second-page-menu-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid #595959;
    background-color: rgba(255, 255, 255, 0);
    min-height: 604px;
    padding-right: 2%;
    padding-left: 3%;

}
.second-page-head{
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    padding-bottom: 2vh;
}
.menu-table-left{
    flex-basis: 330px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.menu-table-right{
    flex-basis: 330px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.second-page-menu-title{
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}
.second-page-menu-ingredients{
    font-size: 16px;
    font-family: "Roboto Condensed";
    padding-bottom: 5px;
}
.menu-ingredients-price{
    float: right;
}
.menu-salty-cake{
    padding-bottom: 10px;
}
.menu-salty-sweet-cake{
    padding-bottom: 10px;
}
.second-page-right-section{
    flex-grow: 1;
    align-self: flex-end;
    flex-basis: 200px;
    max-width: 420px;
}
.second-page-cart{
    height: 400px;

}
.second-page-cart-head{
    font-size: 26px;
    font-family: "Roboto";
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 2.5%;
}
.second-page-cart-amount{
    background-color: rgba(136,176,71,.8);
    border-radius: 0px 7px 0px 0px;
    padding-left: 9%;
    padding-right: 9%;
}
.second-page-cart-amount div{
    padding-bottom: 12px;
    font-size: 15px;
    font-family: "Roboto Condensed";
}
.second-page-cart-sum-numbers{
    float: right;
}
.second-page-cart-sum-total{
    float: right;
}
.icon-shopping_cart{
    color: #e5a440;
}
.icon-shopping_bag{
    color: #e5a440;
}
.second-page-cart-amount-btn{
    width: 100%;
    height: 45px;
    background-color: #e5a440;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-family: "Core Sans A 55 Medium";
    text-transform: uppercase;
    margin-bottom: 15px;
}
.second-page-cart-amount-btn:focus, .second-page-cart-amount-btn:hover, .second-page-cart-amount-btn:active{
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: 0px 0px 35px -15px #000 inset;
}
.second-page-cart-amount-btn:active{
    padding-top: 3px;

}
.second-page-cart-list{
    height: 170px;
    background-color: rgba(116, 148, 65,.8);
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 0px 0px 7px 0px;
    padding-top: 15px;
    font-size: 12px;
    font-family: "Roboto Condensed";
}
.second-page-cart-list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}
.second-page-cart-list-weights{
    margin-right: 7px;
}
.second-page-cart-list-weight-green{
    display: block;
    width:15px;
    height: 20px;
    background-image: url("../img/sprite-weight.png");
    background-position: 50% 100%;
    float: left;
    text-align: center;
    padding-top: 7px;
    font-size: 10px;
}
.second-page-cart-list-weight{
    display: block;
    width:15px;
    height: 20px;
    background-image: url("../img/sprite-weight.png");
   margin-left: 20px;
    text-align: center;
    padding-top: 3px;
    color: #e5a440;
}
.second-page-cart-list-chosen{
    flex-grow: 1;

    flex-basis: 150px;
}
.second-page-cart-list-totals{
    text-align: center;
}
.glyphicon-triangle-left{
    font-size: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    padding-top: 3px;
    padding-left: 0px;

}
.glyphicon-triangle-right{
    font-size: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    padding-top: 3px;
    padding-left: 1.5px;
}
.second-page-other{
    height: 170px;
    padding-left: 40px;
    padding-top: 0px;
    font-size: 14px;
    font-family: "Roboto Condensed";
}
.second-page-other .row{
    padding-bottom: 15px;
}
.second-page-other-car{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('../img/sprite.png');
    float: left;

}
.second-page-other-clock{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('../img/sprite.png');
    background-position: 50% 100%;
    float: left;
}
.second-page-other-wallet{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('../img/sprite.png');
    background-position: 100% 100%;
    float: left;
}
.second-page-other-text{
    padding-left: 35px;
}


.second-page-order{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 940px;
    min-height: 1000px;
    border-radius: 10px;
    background-color: #73b23b;
    box-shadow: 0px 5px 20px 0px rgba(21, 24, 27, 0.75);
    padding-top: 40px;
    padding-bottom: 40px;
}
.second-page-order-left{
    flex-grow: 1;
    flex-basis: 300px;
    padding-left: 30px;
    padding-right: 30px;
}
.second-page-order-head{
    padding-bottom: 30px;
}
.second-page-order-title{
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 600;
    padding-bottom: 15px;
}

.second-page-order-text{
    font-size: 16px;
    font-family: "Roboto";
    line-height: 1.2;
    padding-bottom: 15px;
}
.second-page-delivery-btn{
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: #faa633;
    font-size: 14px;
    font-family: "Core Sans A 55 Medium";
    text-transform: uppercase;
    margin-right: 10px;
}
.second-page-pickup-btn{
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: #e6e6e6;
    color: #818181;
    font-size: 14px;
    font-family: "Core Sans A 55 Medium";
    text-transform: uppercase;
}





.second-page-order-right{
    max-width: 420px;
}
@media (max-width: 415px) {
    .first-page-header-logo{
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .first-page-header-navbar{
        margin-bottom: 20px;
    }
    .first-page-main-text{
        font-size: 40px;
    }
    .first-page-main{
        margin-top: -40px;
    }
    .first-page-clients img:nth-child(2){
        display: none;
    }
    .first-page-clients img:first-child {
        margin-right: 0px;
    }
    .icon-ok-circled-text{
        font-size: 12px;
    }
    .first-to-second-page-statistics-numbers{
        font-size: 18px;
    }

}
@media (max-width: 620px) {
    .first-page-header {
        justify-content: center;
    }
    .first-page-header-navbar{
        flex-grow: 0;
        flex-basis: 180px;
    }
    .first-page-clients img:nth-child(3){
        display: none;
    }
    .first-page-clients img:nth-child(2){
        margin-right: 0px;
    }
    .first-page-clients-arrow-right {
        top: -10px;
    }
    .first-page-clients-arrow-left {
        top: -10px;
    }
}
@media (max-width: 1030px) {

    .first-page-clients img:last-child{
        display: none;
    }
    .first-page-clients img:nth-child(3){
        margin-right: 0px;
    }
    .first-page-clients-arrow-right {
        right: 4%;
        top: -15px;
    }
    .first-page-clients-arrow-left {
        left: 4%;
        top: -15px;
    }
    .second-page-flexbox{
        width: 90%;
    }
    .menu-table-left{
        flex-basis: 270px;
    }
    .menu-table-right{
        flex-basis: 270px;
    }
    .second-page-cart-amount div{
        font-size: 10px;

    }
    .second-page-cart-amount {
        padding-left: 5%;
        padding-right: 5%;
    }
    
}
@media (max-width: 1370px) {
    .first-page-header{
        padding-bottom: 15vh;
    }
    .first-page-main {
        padding-bottom: 15vh;
    }
    .first-page-clients{
        padding-bottom: 10vh;
    }
   .second-page-menu-title{
        font-size: 20px;
    }
    .second-page-menu-ingredients{
        font-size: 16px;
    }
    .second-page-head{
        font-size: 30px;

    }
    .second-page-cart-head {
        font-size: 26px;
    }
    .second-page-cart-amount div{
        font-size: 15px;

    }
    .second-page-cart-list{
        font-size: 12px;
    }
    .second-page-cart-list-weights{
        margin-right: 7px;
    }
    .second-page-cart-list{

        padding-left: 7%;
        padding-right: 7%;

    }
    .glyphicon-triangle-left{
        padding-left: 0px;

    }
    .glyphicon-triangle-right{
        padding-left: 1.5px;
    }
    .second-page-other{
        padding-top: 0px;
        font-size: 14px;
        font-family: "Roboto Condensed";
    }
    .second-page-other-text{
        padding-left: 35px;
    }
    .second-page-other .row{
        padding-bottom: 15px;
    }
}
@media (min-width: 1370px) {
    .first-page-header{
        padding-bottom: 17vh;
    }
    .first-page-main {
        padding-bottom: 17vh;
    }
    .first-page-clients{
        padding-bottom: 6vh;
    }
    .second-page-menu-title{
        font-size: 22px;
    }
    .second-page-menu-ingredients{
        font-size: 18px;
    }
    .second-page-head{
        font-size: 34px;

    }
    .second-page-cart-head {
        font-size: 30px;
    }
    .second-page-cart-amount div{
        font-size: 17px;

    }
    .second-page-cart-list{
        font-size: 15px;
    }
    .second-page-cart-list-weights{
        margin-right: 15px;
    }
    .second-page-cart-list{

        padding-left: 9%;
        padding-right: 9%;

    }
    .glyphicon-triangle-left{
        padding-left: 2px;

    }
    .glyphicon-triangle-right{
        padding-left: 3.5px;
    }
    .second-page-other{
        padding-top: 20px;
        font-size: 16px;
        font-family: "Roboto Condensed";
    }
    .second-page-other-text{
        padding-left: 50px;
    }
    .second-page-other .row{
        padding-bottom: 25px;
    }
}