body{
    color: #fff;
}
.parallax {
    background: url('../img/background_1page.jpg') no-repeat 100%;
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    max-width: 1000px;
}
.first-page{
    padding-top: 2%;
    height: 100vh;
}
.first-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 7.5%;
}
.first-page-header-logo{
    width: 160px;
    margin-right: 70px;
}
.first-page-header-navbar{
    flex-grow: 1;
    flex-basis: 180px;
    height: 20px;
}
.first-page-header-navbar-menu-dropdown{
    height: 22px;
}
.icon-button{
    float: left;
    width: 18px;
    margin-right: 20px;
}
.icon-line{
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top: 0px;
    margin-bottom: 5px;
}
.button-text{
    font-size: 24px;
    font-family: "Roboto";
    line-height: 15px;
}
.dropdown-menu{
    width: 220px;
    text-align: center;
    border-radius: 20px;
    padding: 0;
    margin-top: 10px;
    margin-left: -19px;
    background-color: #faa633;

}
.dropdown-menu li{
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #ffb95a ;
}
.dropdown-menu li a{
    height: inherit;
    border-radius: inherit;
    padding-top: 7px;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
}
.dropdown-menu li:first-child{
    border-radius: 20px 20px 0 0;
}
.dropdown-menu li:last-child{
    border-radius:0 0 20px 20px;
    border-bottom: none;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus{
    background-color: #73b23b;
    color: #fff;
}
.dropdown-menu:after{
    content: '';
    position: absolute;
    left: 17px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #73b23b;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #73b23b;
}
.first-page-header-contact{
    text-align: center;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
}
.first-page-header-contact-phone{
    font-size: 22px;
    font-family: "Ubuntu";
    font-weight: bold;
}
.first-page-main {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8%;
}
.first-page-main-text{
    font-size: 68px;
    font-family: "Roboto";
    font-weight: lighter;
    text-shadow: 0px 2px 1px #000;
    margin-bottom: 40px;
}
.first-page-main-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    width: 250px;
    height: 55px;
    background-color: #7fb137;
    border-radius: 30px;
    box-shadow: 0px 20px 35px 0px rgba(32, 43, 7, 0.25);
    font-size: 18px;
    font-family: "Core Sans A 55 Medium";
    color: #fff;
    text-transform: uppercase;
}
.first-page-main-btn:hover{
    color: #fff;
    text-decoration: none;
}
.first-page-main-btn:active{
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
}
.first-page-clients{
    text-align: center;
    padding-bottom: 2.5%;
}
.first-page-clients img{
    width: 165px;
    margin-right: 10%;
}
.first-page-clients img:last-child{
    margin-right: 0px;
}
.first-page-clients-arrow-right {
    float: right;
    position: relative;
    right: -7%;
    top: -10px;
}
.first-page-clients-arrow-right:hover, .first-page-clients-arrow-right:active, .first-page-clients-arrow-left:hover, .first-page-clients-arrow-left:active{
    background-color: #7fb137;
}
.first-page-clients-arrow-right:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(-18deg);
    -moz-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    -o-transform: skewX(-18deg);
    transform: skewX(-18deg);
}
.first-page-clients-arrow-right:after{
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(18deg);
    -moz-transform: skewX(18deg);
    -ms-transform: skewX(18deg);
    -o-transform: skewX(18deg);
    transform: skewX(18deg);
}
.first-page-clients-arrow-left {
    float: left;
    position: relative;
    left: -7%;
    top: -10px;
}
.first-page-clients-arrow-left:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(-18deg);
    -moz-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    -o-transform: skewX(-18deg);
    transform: skewX(-18deg);
}
.first-page-clients-arrow-left:after{
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #fff;
    width: 1px;
    height: 30px;
    -webkit-transform: skewX(18deg);
    -moz-transform: skewX(18deg);
    -ms-transform: skewX(18deg);
    -o-transform: skewX(18deg);
    transform: skewX(18deg);
}
.first-page-footer{
    background-color: rgba(0, 0, 0, .2);
    padding-top: 2%;
}
.first-page-footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: .5%;
}
.first-page-footer-icons div{
    flex-grow: 1;
}
.glyphicon-ok{
    width: 22px;
    height: 22px;
    background-color: #7fb137;
    border-radius: 50%;
    padding-top: 3px;
    -webkit-animation: blink 5s linear infinite;
    animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba(219,0,0,.3),
                    0px 0px 0px 7px rgba(127, 177, 55,.3)
    }
}
@keyframes blink {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba(219,0,0,.3),
                    0px 0px 0px 7px rgba(127, 177, 55,.3)
    }
}
.icon-ok-circled-text{
    font-size: 18px;
    font-family: "Open Sans";
}
.first-page-footer-statistics{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}
.first-page-footer-statistics-numbers{
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    text-transform: uppercase;
}
.first-page-footer-statistics-text{
    font-size: 14px;
    font-family: "Roboto Regular";
    font-weight: lighter;
}
.over{
    color: #db0000;
    font-size: 24px;
    font-weight: bold;
    padding-right: 5px;
}



