body{
    color: #fff;
}
.parallax {
    background: url('../img/background_1page.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    max-width: 1000px;
}
.first-page{
    padding-top: 2%;
}
.first-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 7.5%;
}
.first-page-header-logo{
    width: 160px;
    margin-right: 70px;
}
.first-page-header-navbar{
    flex-grow: 1;
    flex-basis: 180px;
    height: 20px;
}
.first-page-header-navbar-menu-dropdown{
    height: 22px;
}
.icon-button{
    float: left;
    width: 18px;
    margin-right: 20px;
}
.icon-line{
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top: 0px;
    margin-bottom: 5px;
}
.button-text{
    font-size: 24px;
    font-family: "Roboto";
    line-height: 15px;
}
.dropdown-menu{
    width: 220px;
    text-align: center;
    border-radius: 20px;
    padding: 0;
    margin-top: 10px;
    margin-left: -19px;
    background-color: #faa633;

}
.dropdown-menu li{
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #ffb95a ;
}
.dropdown-menu li a{
    height: inherit;
    border-radius: inherit;
    padding-top: 7px;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
}
.dropdown-menu li:first-child{
    border-radius: 20px 20px 0 0;
}
.dropdown-menu li:last-child{
    border-radius:0 0 20px 20px;
    border-bottom: none;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus{
    background-color: #73b23b;
    color: #fff;
}
.dropdown-menu:after{
    content: '';
    position: absolute;
    left: 17px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #73b23b;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #73b23b;
}
.first-page-header-contact{
    text-align: center;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
}
.first-page-header-contact-phone{
    font-size: 22px;
    font-family: "Ubuntu";
    font-weight: bold;
}
.first-page-main {
    text-align: center;
}
.first-page-main-text{
    font-size: 65px;
    font-family: "Roboto";
    font-weight: lighter;
    text-shadow: 0px 2px 1px #000;
}
.first-page-main-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    width: 250px;
    height: 55px;
    background-color: #7fb137;
    border-radius: 30px;
    box-shadow: 0px 20px 35px 0px rgba(32, 43, 7, 0.25);
    font-size: 18px;
    font-family: "Core Sans A 55 Medium";
    color: #fff;
    text-transform: uppercase;
}
.first-page-main-btn:hover{
    color: #fff;
    text-decoration: none;
}
.first-page-main-btn:active{
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
}